body {
  margin: 0;
  padding: 0;
  background-color: #181818;
}

/* Navbar here */

.navbar {
  display: grid;
  height: 100px;
  grid-template-columns: 30% 50% 20%;
  background-color: #202020;
}

.grid-item {
  padding-top: 20px;
}

.grid-item1 img {
  width: 150px;
  margin-left: 100px;
}

.grid-item2 {
  padding-top: 30px;
}

.grid-item2 input {
  width: 500px;
  height: 30px;
  background-color: #000;
  color: #a4a4a4;
  border: 0.5px solid #3c3c3c;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.grid-item2 button {
  width: 60px;
  height: 35px;
  background-color: #3c3c3c;
  border: none;
  text-decoration: none;
}

.grid-item3 img {
  width: 20px;
  padding-right: 30px;
  padding-top: 15px;
}

.grid-item2 button img {
  width: 15px;
  height: 15px;
}

.main-content {
  width: 100%;
  display: flex;
}

/* Main vid here */

/* Side bar here */
.sidebar {
  width: 40%;
  margin-top: 15px;
  padding-left: 100px;
}

.thumbnail {
  width: 100%;
  display: flex;
  padding-bottom: 5px;
}

.thumbnail-text {
  padding-left: 10px;
}

.thumbnail-text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.thumbnail-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.7em;
}
